{% extends 'base.html.twig' %}

{% block title %}Color index{% endblock %}

{% block body %}
    <h1>Color index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for color in colors %}
            <tr>
                <td>{{ color.id }}</td>
                <td>{{ color.name }}</td>
                <td>
                    <a href="{{ path('color_show', {'id': color.id}) }}">show</a>
                    <a href="{{ path('color_edit', {'id': color.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('color_new') }}">Create new</a>
{% endblock %}
